*{
  margin: 0;
}

body {
 height: 100vh;
 width: 100%;
 margin: 0;
 font-family: 'Source Sans Pro', sans-serif;
}

/* Font Size */

.text-sm{
  font-size: 12px;
}

.text-md{
  font-size: 14px;
}

/* Padding */

.pb-sm{
  padding-bottom:12px ;
}
