*{
  margin: 0;
}

body {
 height: 100vh;
 width: 100%;
 margin: 0;
 font-family: 'Source Sans Pro', sans-serif;
}

a{
  text-decoration: none;
}


/* Inputs */

input{
  padding-left: 8px;
}


/* Width */

.w-full{
  width: 100%;
}

.w-screen{
  width: 100vw;
}

.w-fit{
  width: fit-content;
}




/* CSS Flex */

.flex{
  display: flex;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.flex-col{
  flex-direction: column;
}


.self-right{
  align-self: flex-end;
}

.self-center{
  align-self: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: space-center;
}



/* grid */

.grid{
  display: grid;
}

.grid-bottom-nav{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}






/* Font Size */

.text-sm{
  font-size: 12px;
}

.text-md{
  font-size: 14px;
}

.text-lg{
  font-size: 18px;
}

.text-xl{
  font-size: 22px;
}


/* Font Style */

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.font-lighter{
  font-weight: lighter;
}


/* Font Color */
.text-blue-primary{
  color: #2565c7;
}

.text-white{
  color:#fff;
}


/* Backgound color */
.bg-blue-primary{
  background-color: #2565c7;
}

/* Padding */

.p-sm{
  padding: 16px;
}


.p-md{
  padding: 24px;
}

.pb-sm{
  padding-bottom:12px ;
}

.pb-md{
  padding-bottom: 16px ;
}


.pt-lg{
  padding-top: 16px;
}


.pt-2xl{
  padding-top: 32px;
}


.pt-4xl{
  padding-top: 96px;
}



/* Margin */

.mt-md{
  margin-top: 16px;
}

.mt-lg{
  margin-top: 32px;
}

.mt-4xl{
  margin-top: 64px;
}

.mr-xsm{
  margin-right:8px;
}

.mb-md{
  padding-bottom:16px ;
}

.mb-lg{
  margin-bottom: 32px;
}







/* Pointer */

.pointer{
  cursor: pointer;
}